.case-page {
  display: inline-flex;
  padding: 2.75rem 100px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.05rem;
  .top{
    display: flex;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
    .top-content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      align-self: stretch;
    }
  }
  .case-card{
    display: inline-flex;
    justify-content: space-between;
    gap: 40px;
  }
  .cases{
    display: flex;
    align-items: center;
    gap: 100px;
    flex: 1 0 0;
    align-self: stretch;
  }
}