.caseblock{
  display: block;
  width:100%;
  .caseblock-img{
    border-radius: 30px;
    width:100%;
  }
  .caseblock-title{
    font-size: 28px;
    font-weight: 500;
  }
  .caseblock-subtitle{
    font-size:20px;
    font-weight: 400;
    color:#130F4480;
  }
  .caseblock-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}